<div class="preview expander">
    <div class="main">
        <a class="close" href="javascript:;"><i class="icon icon-times"></i></a>

        <div class="summary">
            <img src="{thumb}" />
        </div>

        <div class="meta">
            <dl>
                <dt>Type :&nbsp;</dt>
                <dd>Image</dd>
                <dt>Caption :&nbsp;</dt>
                <dd>{name}</dd>
                <dt>Size :&nbsp;</dt>
                <dd>{size}</dd>
            </dl>
        </div>

        <div class="x-clear"></div>
    </div>

    <div class="bottom-actions">
        <ul>
            <li>
                <a href="javascript:;">Move to</a> <i class="icon icon-gear"></i>
            </li>
            <li>
                <a href="javascript:;">Replace</a> <i class="icon icon-gear"></i>
            </li>
            <li>
                <a href="javascript:;">Delete</a> <i class="icon icon-gear"></i>
            </li>
        </ul>
    </div>
</div>
